$fsa-color-black: #000;
$fsa-color-white: #fff;
$fsa-color-blue: #00377C;
$fsa-color-blue-2: #105CBC;
$fsa-color-blue-3: #2C608A;
$fsa-color-blue-4: #0277BD;
$fsa-color-blue-5: #1a729f;
$fsa-color-blue-6: #113c52;
$fsa-color-light-blue: #80D8FF;
$fsa-color-light-blue-2: #E9EFF6;
$fsa-color-light-blue-3: #A9E1FF;
$fsa-color-light-blue-4: #E2F6FF;
$fsa-color-gray: #666666;
$fsa-color-gray-2: #B5B5B5;
$fsa-color-gray-3: #b8c4cb;
$fsa-color-light-gray: #F4F4F4;
$fsa-color-light-gray-2: #E5E6E7;
$fsa-color-yellow: #edab1c;
$fsa-color-light-yellow: #faf3d1;

