@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.ttf") format("truetype"); }

/******************************************************************************/
.usds-overlay-present {
  overflow: hidden; }

/******************************************************************************/
.usds-modal {
  display: block;
  transition: opacity .15s ease-in-out; }

.usds-modal:focus {
  outline: none; }

.usds-modal:not(.usds-modal-focus) {
  opacity: 0;
  visibility: hidden; }

.usds-modal.usds-modal-shown {
  opacity: 1;
  visibility: visible; }

/******************************************************************************/
.usds-modal-overlay {
  z-index: 3930;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%; }

/******************************************************************************/
.usds-modal-dialog {
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  max-width: 30rem; }

.usds-modal-dialog.usds-modal-dialog-lg {
  max-width: 55rem; }

@media (max-width: 575px) {
  /* full screen */
  .usds-modal-dialog {
    min-height: 100%;
    justify-content: flex-end; } }

/******************************************************************************/
.usds-modal-content {
  padding: 0 2rem 1.5rem; }

.usds-modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.usds-modal-main {
  width: 100%;
  font-family: "Public Sans";
  font-size: .75rem;
  line-height: 1.125rem; }
  .usds-modal-main .usds-link {
    font-size: .875rem;
    margin-top: .375rem; }

.usds-modal-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

/******************************************************************************/
.usds-modal-close {
  display: flex;
  align-self: flex-end;
  padding: 1rem 1rem 0 0; }

.usds-btn-modal-close {
  background: none;
  border: none;
  font-size: 1.5rem; }

[data-usds-modal-closer] * {
  pointer-events: none; }
